<div class="container__big-card">
    <div class="big-card__photo">
        <img
            src="https://media-cldnry.s-nbcnews.com/image/upload/t_nbcnews-fp-1024-512,f_auto,q_auto:best/MSNBC/Components/Photo/_new/100506-ironman2-hmed.jpg"
            height="200px"
            alt=""
        />
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a></h1>
    </div>
    <div class="big-card__description">
        <p><a href="#">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis dolore, tempore fugiat iure voluptatibus, quia tempora quis accusantium vel odit? Nihil dolor ducimus repudiandae inventore rem! Nisi, commodi non!</a></p>
    </div>
</div>